@model Domain.Entities.Book

<div data-role="collapsible" data-collapsed="false" data-content-theme="c">
    <h2>@Model.Name @Model.Author</h2>


    <div>
        <div>
            <img width="200" height="200" src="@Model.Description" />
        </div>
        <div>
           
        </div>
        <div>
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                @Html.HiddenFor(x => x.BookId)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                
            }
        </div>
    </div>
</div>